 {% load static %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link rel="stylesheet" href="https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="https://mobirise.com/bootstrap-template/about-us-page-template/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://global-uploads.webflow.com/58065afcec27c89278ba59f7/css/hellosign-prod.945c8b3a9.min.css">
  <link rel="stylesheet" type="text/css" href='{% static "CSS/bootstrap.min.css" %}'>
  
 
  {% include 'snippets/sample2.html' %}
  {% include 'snippets/sample3.html' %}
  {% include 'snippets/sample.html' %}
