 {% load static %}
 <nav class="navbar navbar-expand-lg  fixed-top">
 	<div class="container-fluid">
 		<a class="navbar-brand" href="/"><img src='{% static "images/hotlib.png" %}'></a>
  <button class="cid-qyvfob1Ur0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 		<div class="collapse navbar-collapse" id="navbarResponsive">
 			<ul class="navbar-nav ml-auto">
 				<li class="nav-item active" >
 					<a href="/" class="nav-link">Home</a>
 				</li>
 				<li class="nav-item">
 					<a href="/about_us/" class="nav-link">About Us</a>
 				</li>
 				<li class="nav-item">
 					<a href="/upload/" class="nav-link">Upload</a>
 				</li>
 				<li class="nav-item">
 					<a href="/android/" class="nav-link">Android App</a>
 				</li>
 				<li class="nav-item">
 					<a href="/contact/"   class="nav-link">Contact </a>
 				</li>
 				<li class="nav-item">
 					<a href="/login/" class="nav-link">| Login |</a>
 				</li>
 			</ul>
 		</div>
 	</div>
 </nav>