{%extends 'base.html'%}
{% load static %}
{% block style_code %}
<link rel="stylesheet" href='{% static "android/css/main.css" %}'>    
{% endblock style_code %}
{% block content %}


<div class="container-fluid">
	<br><br><br><br><br><br>
	<div class="row padding text-center">
		<div class="col-8">
			<br><br>
			<img src='{% static "images/onetwothree.jpeg" %}' >
		</div>
		<div class="col-lg-4">
			<br><br><br><br>
			<div class="container">
				<div class="row justify-content-center">
					<div class="title col-12 col-lg-8">
						<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-4">
						Login to access the uploading privileges</h2>

					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="media-container-column col-lg-12" data-form-type="formoid">
						<div data-form-alert="" hidden="">
							Thanks for filling out the form!
						</div>
						<form id="id="contactForm"">
							<div class="form-group">
								<input name="" class="form-control" placeholder="Username" type="text" required="" id="name-form1-4"
								data-error="Valid username is required.">
								<div class="help-block with-errors"></div>
							</div> 
							<div class="form-group">
								<input class="form-control" placeholder="******" type="password" required="" id="password-form1-4"
								data-error="Valid password is required.">
								<div class="help-block with-errors"></div>
							</div>                                                                                                 
						</form>
					</div>
					<div class="submit-button">
						<button class="btn btn-common btn-effect" id="submit" type="submit" data-toggle="modal" data-target="#contact-admin" >Contact Admin</button>
						<div id="admin_msgSubmit" class="h3 hidden"></div> 
						<div class="clearfix"></div> 
					</div>
					<div class="submit-button">
						<button class="btn btn-common btn-effect" id="submit" type="submit" >Login</button>
						<div id="msgSubmit" class="h3 hidden"></div> 
						<div class="clearfix"></div> 
					</div>
				</div>
			</div>
		</div>

	</div>	
	<!-- Modal -->
	<div class="modal fade" id="contact-admin" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title" id="Title" style="color: black"> <b>Request Form</b></h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="RequestForm">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
									<div class="help-block with-errors"></div>
								</div> 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" placeholder="Subject" id="msg_subject" class="form-control" value="Request for Registration" readonly="">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group"> 
									<textarea class="form-control" id="message" placeholder="Message" rows="5" data-error="Write your message" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>            
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-common btn-effect" id="submit" type="submit">Send Request</button>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}